body {
  font-family: 'equity-text', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'concourse_t4regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:link {
	color: #436098;
}

/* blockquote { font-size: 1em; } */

/* --------------------- 6. tables ----------------- */

table.shaded { background-color: #436098; margin-top: 1em; }

th.shaded
{
	background-color: #D0DFF5;
	text-align: left;
	vertical-align: bottom;
	padding: 4px;
}

th.shadedCentered
{
	background-color: #D0DFF5;
	text-align: center;
	vertical-align: bottom;
	padding: 4px;
}

td.shaded
{
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	padding: 4px;
}

td.shadedCentered
{
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: top;
	padding: 4px;
}

.accent { color: #992528; }

.author { margin-left: 6em; margin-right: 2em; margin-bottom: 2em; text-align: right; }

.biblio { }

.breadcrumb {
	font-family: 'concourse_t4regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
	font-family: 'concourse_t4regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.five-star {
	margin-top: 3em;
}

.five-star h4 {  font-size: 1em; }

.five-star p { font-family: 'concourse_t4regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.albums h4 {  
	font-size: 1em; 
	font-family: 'equity-text', Georgia, 'Times New Roman', Times, serif; 
}

.links h4 {  
	font-size: 1em; 
	font-family: 'equity-text', Georgia, 'Times New Roman', Times, serif; 
}

.footer {
	text-align: center;
	font-family: 'concourse_t3regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

.nextnav {
	margin-top: 3em;
	text-align: center;
	font-family: 'concourse_t4regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pic-right {
  float: right;
  padding: 4px;
}

.pub-date {
	color: #8E9CB4;
	text-align: right;
}

.shopItem {
	margin-bottom: 3em;
}

blockquote.pull a:link {
	text-decoration: none;
}

.tags {
  font-style: italic;
  color: #8E9CB4;
}

a.thumbnail:link {
	text-decoration:none;
	cursor:pointer;
}

.stars {
	color: #992528;
	font-size: 0.8em;
	text-align: center;
}

.store

#toc { font-family: 'concourse_t4regular', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#toc tr {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}

.years
{
	text-align: center;
	font-size: 2em;
	letter-spacing: 0.2em;
	line-height: 1.1em;
	font-family: 'concourse_t2italic', Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #333;
}
