body {
  font-family: 'equity-text', Verdana, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'concourse_t4regular', Georgia, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.accent { color: #992528; }

/* --------------------- 6. tables ----------------- */

table.shaded { background-color: #436098; margin-top: 1em; }

th.shaded
{
	background-color: #D0DFF5;
	text-align: left;
	vertical-align: bottom;
	padding: 4px;
}

th.shadedCentered
{
	background-color: #D0DFF5;
	text-align: center;
	vertical-align: bottom;
	padding: 4px;
}

td.shaded
{
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	padding: 4px;
}

td.shadedCentered
{
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: top;
	padding: 4px;
}

.biblio { }

.nextnav {
	margin-top: 3em;
	text-align: center;
	font-family: 'concourse_t4regular', Georgia, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.shopItem {
	margin-bottom: 3em;
}